/* подключение локальный шрифтов на страницу */
@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  display: swap;
}

* {
  box-sizing: border-box;
}

/* сброс стилей по умолчанию */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #121723;
}

/* задание шрифта всей странице */
body {
  font-family: "Anonymous Pro", sans-serif;
}

/* стили для главного контейнера */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f1f1f1;
}

/* стили для хедера(шапки) сайта */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #a1a6b4;
  background: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 24px 0 24px;
}

.logo-link {
  max-width: 215px;
}

/* стили для ссылок в хедере и футере */
nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.nav-item {
  display: inline;
}

.nav-link {
  color: #121723;
  font-size: 20px;
  font-weight: 700;
}

/* стили для  */
.content {
  margin: 32px 0;
  max-width: 1140px;
}

h1 {
  font-size: 48px;
}

/* стили для контейнера кроссовок */
.sneakers {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
}

.container-big {
  background-color: #ffffff;
  width: 1160px;
  height: 100%;
  padding: 48px;
  margin: 32px;
  border-radius: 54px;
  gap: 32px;
}

.big-img {
  width: 100%;
}

.big-title {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.subtitle-title {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 24px;
}

.big-description {
  display: flex;
  justify-content: space-between;
  width: 1044px;
  height: 100%;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 12px;
}

.big-left {
  width: 50%;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.big-right {
  width: 50%;
}

.sneaker-about {
  border-bottom: 1px solid black;
}

.sneaker-about-double {
  border-bottom: 1px solid black;
  padding: 24px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 24px;
}

h3 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

h4 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 21px;
}

h5 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 24px 0 0 0;
}

h6 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

/* стили для карточки кроссовок */
.sneaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 364px;
  height: 100%;
  border-radius: 12px;
  background: white;
  transition: 100ms;
}

.sneaker-image {
  width: 100%;
  border-radius: 12px;
}

.sneaker-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 32px 24px;
}

.sneaker:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: 100ms;
}

p {
  font-size: 20px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121723;
}

/* стили для футера */
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 32px 0;
}

.footer__logo-link {
  max-width: 300px;
  width: 100%;
}

footer .nav-link {
  color: white;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1140px;
  border-top: 1px solid #a1a6b4;
}

.copyright-text {
  color: #a1a6b4;
  font-size: 16px;
  font-weight: 700;
  margin: 24px 0;
}

@media screen and (max-width: 375px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  .nav-link {
    margin-top: 10px;
  }

  ul {
    justify-content: center;
    padding: 0px;
  }

  main {
    width: 100%;
    height: 100%;
  }

  .big-card {
    padding: 32px 150px;
  }

  .content {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  .copyright {
    max-width: 343px;
    border-top: 1px solid #a1a6b4;
  }

  .container-big {
    max-width: 343px;
    padding: 24px;
    border-radius: 24px;
    background-color: white;
  }

  .big-img {
    border-radius: 24px;
    width: 100%;
  }

  .big-description {
    width: 100%;
    display: block;
    padding: 0;
  }

  .big-left {
    width: 100%;
  }

  .big-right {
    width: 100%;
    margin-top: 32px;
  }

  h2 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
  }

  .big-text {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  h5 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 24px 0px 24px 0px;
  } 

  h6 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
  }

  .sneaker:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 24px;
  }

}